@media (max-width: 768px) {

    /* Hide name and job in nav-bar */
    .name-job {
        display: none;
    }

    .nav-bar-items > a, .nav-bar-items > div {
        border-left: 0px;
        border-right: 0px !important;
    } 
    
    .objective-and-personal-info {
        display: flex;
        flex-direction: column !important;
    }

    .job-info-container {
        display: flex;
        grid-template-columns: minmax(0,1fr) !important;
        padding: 20px 5px;
        /* gap: 20px; */
    }

    .certificate-container {
        display: flex ;
        flex-direction: column;
    }
    .certificate-details {
        display: flex;
        flex-direction: column;
    }
    .certificate-details-img {
        height: auto;
        width: 100%;
    }

    .c1, .c2, .c3 {
        padding: 20px 0 20px 0;
    }

    .c1, .c3 {
        border-right: none;
        border-top: none;
    }
    .c2 {
        margin-left: 0;
    }

    .c1, .c2 {
        border-bottom: 1px solid orange;
    }

    .project-container {
        display: grid;
        grid-template-columns: 1fr;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(154, 160, 161);
        margin-bottom: 30px;
        align-items: center;
        padding: 25px;
    }

    .hidden-footer {
        display: none;
      }
    
    .fs {
        font-size: 400%;
    }
}
